.main-container{
    /* background-color: lightblue; */
    max-width:1440px;
    min-height:700px;
    margin:0 auto;
}

.menu{
    min-height:70px;
    width:100%;
    /* background-color: lightcoral; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

span{
    font-size: 60px;
}

.logo{
    height:100%;
    width:140px;
    color: orangered;
    display: flex;
    align-items: center;
}

.links{
    height:100%;
    width:600px;
    /* background-color: orange; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top:24px;
}

.links a{
    text-decoration: none;
    color:black;
    font-weight:500;
    text-transform: uppercase;
    font-size:12px;
    transition: 0.5s;
    /* border:2px solid black */
}

.links a:first-child{
    margin-left:-30px;
}

.links a:hover{
    transition: 0.5s;
    color:orangered;
}

.links li{
    list-style-type: none;
}

.links ul{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: red; */
}

.nav-btns{
    height:100%;
    width:100px;
    /* background-color: grey; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    display: none;
}

#close-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-btns button{
    height:40px;
    width:40px;
    border:2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-btns button img{
    height:90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header{
    min-height:500px;
    width:90%;
    /* background-color: lightgreen; */
    display: flex;
    flex-direction: row;
    margin:0 auto;
    align-items: center;
    justify-content: center;

}

.header-text{
    height:100%;
    width:48%;
    /* background-color: olive; */
}

.header-img{
    height:100%;
    width:48%;
    /* background-color: blue; */
}

.header-img img{
    height:400px;
}

#hire{
    background-color: orangered;
    color:white;
    border:none;
    border-radius:14px;
    width:100px;
    text-transform: uppercase;
    height:40px;
}

h2{
    color:orangered
}

.new-menu{
    width:100%;
    min-height:570px;
    background-color: orangered;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;

}

.new-menu a{
    text-decoration: none;
    color:white;
    font-weight:500;
    text-transform: uppercase;
    font-size:12px;
    transition: 0.5s;
    font-size:30px;
    border:2px solid white;
    border-radius:10px;
    padding:10px;
    display: block;
    width:300px;
    padding:10px;
}

.new-menu li{
    list-style-type: none;
}

.new-menu ul{
    /* background-color: blue; */
    height:500px;
    text-align: center;
}

.no-scroll{
    overflow: hidden;
}

@media (max-width:678px){
    .menu{
        width:100%;
        display: flex;
        justify-content: space-between;
        background-color:white;
    }
    .links{
        display: none;
    }
    .logo{
        margin-left:20px;
    }
    .nav-btns{
        display: flex;
    }
    #close-btn{
        display: none;
    }
    .header{
        flex-direction: column;
        padding-top:40px;
    }
    .header-img{
        /* border:2px solid black; */
        width:400px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top:20px;
    }
}